<!DOCTYPE html>
<html>
  <head>
  	<title>Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/conf.css" />
  </head>
  <body>
    <header>
      <a href="{{logout_url}}" title="logout" class="pull-right"><i class="icon-off"></i> logout</a>
      <h1>Configuration</h1> 
    </header>
    
    <div id="configuration">
      <div class="input-append">
        <select name="type" id="type">
          <option>kmls</option>
          <option>yellowbrick</option>
        </select>
        <input type="text" name="url" placeholder="URL"
         class="input-medium" id="addUrl"/><a href="#" class="btn" id="adUrlBtn">
          <i class="icon-plus"></i>
        </a>
      </div>

      {% for tracking in trackings %}
      	<div class="tracking{% if tracking.active %} active{% endif %}" id="{{tracking.key()}}">
      		{{tracking.url}}
          <a href="#" class="pull-right" title="delete">
            <i class="icon-remove"></i>
          </a>
      	</div>
      {% endfor %}
    </div>

    <script type="text/javascript" src="/static/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/static/conf.js"></script>
  </body>
</html>