i {
	opacity : 0.4;
}

header h1 {
  color: #DDD;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

header a {
  margin:20px;
}

#configuration {
  background: #F0F0F0;
  color: #BBB;
  padding: 20px;
  float:left;
  width:400px;
  margin-left: 20px;
}

#configuration input {
	width: 355px;
}

#configuration select {
  width: 400px;
  margin-bottom: 5px;
}

.tracking {
  padding: 10px;
  margin-top: 5px;
  background: #DDDDDD;
  color:white;
}

.tracking.active {
  background: #A0DDDD;
}
.tracking.failed {
  background: #DAA;
}

.tracking:nth-child(2) {
	margin-top: 15px;
}